<h1>Here is an H1 title</h1>
<h2>Here is an H2 subhead, resize your browser to see the ratio difference</h2>
<h3>Here is an H3</h3>
<h4> Here is a H4</h4>
<h5> Here is the H5</h5>
<h6> Here is the H6, which is also our base unit size</h6>
<p>Here is some body text, here is some more, check it out, body text! More text to form a paragraph</p>
<p class="small">Here's smaller text</p>
<p class="xsmall">Here's even smaller text</p>
